<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @event.start_date %>
</p>

<p>
  <strong>Num days:</strong>
  <%= @event.num_days %>
</p>

<%= link_to 'Edit', edit_event_path(@event), class: 'btn btn-info' %>
<%= link_to 'Back', events_path, class: 'btn btn-secondary' %>
