<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <p>Oh oh, looks like there were errors on the page</p>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :event_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, id: :event_description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :start_date %>
    <%= form.text_field :start_date, id: :event_start_date, class: 'form-control', type: 'date', value: Date.today %>
  </div>

  <div class="form-group">
    <%= form.label :num_days %>
    <%= form.number_field :num_days, id: :event_num_days, class: 'form-control', type: 'number', value: 1, min: 1 %>
  </div>

  <div class="participants">
    <h2>participants</h2>
    <%=
      collection_check_boxes(:event, :user_ids, User.all, :id, :email) do |u|
        u.label(class: 'participant__label') { u.check_box(class: 'participant__checkbox') + u.text }
      end
    %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>
